[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "1.7.0"
python-telegram-bot = "==12.4"
numpy = "1.19.2"
ptan = "0.7"
tensorboardx = "2.1"

[dev-packages]
torch-tb-profiler = "*"
tensorboard = "*"
autopep8 = "*"

[requires]
python_version = "3.7"
